.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.input {
  outline: none;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 16px 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  font-family: 'Montserrat', sans-serif;

  margin-right: 8px;
  margin-bottom: 32px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:hover {
  border-color: #000;
}
.input:focus {
  border-color: #4e75ff;
}
.input:disabled {
  border-color: #808080;
  color: #808080;
}
.timer-btn {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  max-width: 75px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;

  font-family: 'Montserrat', sans-serif;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.timer-btn:hover {
  background-color: #6c8cff;
}
.timer-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
