/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');
@import url('./back-link.css');
